<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>Nombres</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            text-align: center;
            margin: 90px;
        }
        h1 {
            color: #4CAF50;
        }
        ol {
            display: inline-block;
            text-align: left;
            font-size: 6em;
            padding: 0;
            list-style-type: decimal;
        }
    </style>
</head>
<body>
    <ol>
        <li>Jeison Arias</li>
        <li>Brandon Bernal</li>
        <li>Kevin Rodriguez</li>
    </ol>
</body>
</html>
